
.contenedor{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}
@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}
@media (min-width:1200px){.container{width:1170px}}

.contenedor2{
	top: 400px;
}

.contenedor1{
	top: 160px;
}
.h1-index{
	font-family: georgia;
	position: relative;
	font-size: 28px;
	top: 9em;
	padding-left: 3em;
	font-weight: bold;
}

.h1-jef{
	font-family: georgia;
	position: relative;
	font-size: 48px;
	top: 3.2em;
	padding-left: 4.5em;
	font-weight: bold;
	font-style: italic;
}